header>h1{
    text-align: center;
    color: rgba(252,70,107,1);
  }
  body{
    background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  
  .main-container{
      display: flex;
      font-size: 20px;
      font-weight: 500;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .form-items div{
      padding: 10px;
      font-size: 18px;
      font-weight: 700;
  }
  input{
      height: 24px;
      padding-right: 50%;
      border: none;
  }
    
    .form-result {
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    width: 50%;
    border: 1px ;
  }
    
    .form-result h4 {
      margin-top: 10px;
    }
    
    .form-result button {
      margin-top: 10px;
    }
    
    
    h1 {
      font-size: 36px;
      margin: 10px 0;
    }
    
    h4 {
      font-size: 15px;
      margin: 5px 0;
    }
    .penyakit {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  
  button{
      margin: auto;
      height: 40px;
      border: none;
      font-weight: 700;
      font-size: 15px;    
      border-radius: 10px;
      display: inline-block;
      cursor: pointer;
  }
  
  .main-container{
      display: flex;
      font-size: 20px;
      font-weight: 500;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .calc-form{
      width: 50%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 5px none;
      background: rgb(63,94,251);
      background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
      border-radius: 10px;
  }
  .form-items{
      padding: 10px;
      border-radius:15px;
      width: 80%;
      border: 5px solid;
  }
  .form-items div{
      padding: 10px;
      font-size: 18px;
      font-weight: 700;
  }
  input{
      height: 24px;
      padding-right: 50%;
      border: none;
  }
  
  .result {
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: rgb(63,94,251);
      margin-top: 10px;
      border-radius:15px;
      width: 80%;
      border: 5px solid;
    }  
    
    .form-result {
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    width: 50%;
    border: 1px ;
  }
    
    .form-result h4 {
      margin-top: 10px;
    }
    
    .form-result button {
      margin-top: 10px;
    }
    
    /* Menambahkan style pada button */
      #reset-button {
      margin: 5px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    h1 {
      font-size: 36px;
      margin: 10px 0;
    }
    
    h4 {
      font-size: 15px;
      margin: 5px 0;
    }
    .penyakit {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  
  button{
      margin: auto;
      height: 40px;
      border: none;
      font-weight: 700;
      font-size: 15px;    
      border-radius: 10px;
      display: inline-block;
      cursor: pointer;
  }
  #calc-button{
      background-color:#3282F6;
      color: white;
      border-radius: 15px;
  }
  #reset-button{
      background-color: red;
      color: white;
      border-radius: 10px;
  }
  .form-consul button {
      font-style: italic;
      background-color:greenyellow;
      border-radius: 10px;
      color: black;
  }